#mi_cuenta
{
    .page-content
    {
        padding-top: 0px !important;
    }
}
.border-botom-gray
{
    border-bottom: 1px solid #dbdbdb;
    button
    {
        border-color: transparent !important;
        border-radius: 0px !important;
        height: 100% !important;
    }
}