<?xml version='1.0' encoding='utf-8'?>
<widget id="com.social.flow" version="11.71.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare"/>
    <hook src="hooks/beforedep.js" type="before_deploy"/>
    <name>SocialFlow</name>
    <description>
        SocialFlow
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Sustam Apps
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
    <preference name="loadUrlTimeoutValue" value="1000000"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="5000"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="1500"/>
    <preference name="SplashMaintainAspectRatio" value="true"/>
    <preference name="SplashShowOnlyFirstTime" value="false"/>
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="StatusBarBackgroundColor" value="#ffffff"/>
    <preference name="StatusBarStyle" value="lightcontent"/>
    <preference name="showSplashScreenSpinner" value="true"/>
    <preference name="SplashScreenSpinnerColor" value="white"/>
    <preference name="EnableViewportScale" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="orientation" value="portrait"/>
    <preference name="target-device" value="handset"/>
    <preference name="android-targetSdkVersion" value="33"/>
    <preference name="KeyboardShrinksView" value="false"/>
    <preference name="KeyboardResize" value="true"/>
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
    <preference name="AndroidXEnabled" value="true"/>
    <preference name="GradlePluginGoogleServicesEnabled" value="true"/>
    <preference name="GradlePluginGoogleServicesVersion" value="4.3.15"/>
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icons/Android/drawable-icon-xhdpi.png"/>
    <preference name="AndroidWindowSplashScreenBackground" value="#ffffff"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <preference name="DisallowOverscroll" value="false"/>
        <preference name="disallowOverscroll" value="false"/>
        <preference name="android-configChanges" value="orientation|screenSize"/>
        <preference name="android-windowSoftInputMode" value="adjustUnspecified"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <preference name="DisallowOverscroll" value="true"/>
        <preference name="disallowOverscroll" value="true"/>
    </platform>
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true"/>
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine"/>
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine"/>
    </platform>
    <platform name="android">
        <icon density="hdpi" src="res/icons/Android/drawable-icon-hdpi.png"/>
        <icon density="ldpi" src="res/icons/Android/drawable-icon-ldpi.png"/>
        <icon density="mdpi" src="res/icons/Android/drawable-icon-mdpi.png"/>
        <icon density="xhdpi" src="res/icons/Android/drawable-icon-xhdpi.png"/>
        <icon density="xxhdpi" src="res/icons/Android/drawable-icon-xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icons/Android/drawable-icon-xxxhdpi.png"/>
        <splash density="port-ldpi" src="res/screen/Android/splash-port-mdpi.png"/>
        <splash density="port-mdpi" src="res/screen/Android/splash-port-mdpi.png"/>
        <splash density="port-hdpi" src="res/screen/Android/splash-port-hdpi.png"/>
        <splash density="port-xhdpi" src="res/screen/Android/splash-port-xhdpi.png"/>
        <splash density="port-xxhdpi" src="res/screen/Android/splash-port-xxhdpi.png"/>
        <splash density="port-xxxhdpi" src="res/screen/Android/splash-port-xxxhdpi.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <preference name="deployment-target" value="10.0"/>
        <preference name="BackupWebStorage" value="local"/>
        <preference name="webviewbounce" value="false"/>
        <preference name="UIWebViewBounce" value="false"/>
        <preference name="DisallowOverscroll" value="true"/>
        <preference name="ios-XCBuildConfiguration-ENABLE_BITCODE" value="NO"/>
        <config-file parent="CFBundleVersion" platform="ios" target="*-Info.plist">
            <string>11</string>
        </config-file>
        <icon height="40" src="res/icons/ios/icon-40.png" width="40"/>
        <icon height="80" src="res/icons/ios/icon-40@2x.png" width="80"/>
        <icon height="50" src="res/icons/ios/icon-50.png" width="50"/>
        <icon height="100" src="res/icons/ios/icon-50@2x.png" width="100"/>
        <icon height="60" src="res/icons/ios/icon-60.png" width="60"/>
        <icon height="120" src="res/icons/ios/icon-60@2x.png" width="120"/>
        <icon height="180" src="res/icons/ios/icon-60@3x.png" width="180"/>
        <icon height="72" src="res/icons/ios/icon-72.png" width="72"/>
        <icon height="144" src="res/icons/ios/icon-72@2x.png" width="144"/>
        <icon height="76" src="res/icons/ios/icon-76.png" width="76"/>
        <icon height="152" src="res/icons/ios/icon-76@2x.png" width="152"/>
        <icon height="167" src="res/icons/ios/icon-83.5@2x.png" width="167"/>
        <icon height="29" src="res/icons/ios/icon-small.png" width="29"/>
        <icon height="58" src="res/icons/ios/icon-small@2x.png" width="58"/>
        <icon height="87" src="res/icons/ios/icon-small@3x.png" width="87"/>
        <icon height="57" src="res/icons/ios/icon.png" width="57"/>
        <icon height="114" src="res/icons/ios/icon@2x.png" width="114"/>
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320"/>
        <splash height="960" src="res/screen/ios/Default~iphone@2x.png" width="640"/>
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768"/>
        <splash height="2048" src="res/screen/ios/Default-Portrait~ipad@2x.png" width="1536"/>
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640"/>
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750"/>
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242"/>
        <splash height="2436" src="res/screen/ios/Default-812h.png" width="1125"/>
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Accederemos a tu ubicaci&#xF3;n para ver los usuarios cercanos a ti.</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>Debes autorizar el uso de la c&#xE1;mara para adjuntar fotos a tu perfil </string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
        <string>Podr&#xE1;s subir una im&#xE1;gen de tu carrete fotogr&#xE1;fico para tu perfil, portafolio o categoria. </string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
        <string>&#xBF;Quieres darle acceso a tu agenda a SOCIALFLOW para encontrar amigos?</string>
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.2.2"/>
    <plugin name="cordova-plugin-device" spec="^2.0.3"/>
    <plugin name="cordova-plugin-inappbrowser" spec="^4.1.0"/>
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0"/>
    <plugin name="cordova-plugin-file" spec="^6.0.2"/>
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1"/>
    <plugin name="cordova-custom-config" spec="^5.1.0"/>
    <plugin name="cordova-plugin-camera" spec="^4.1.0"/>
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0"/>
    <allow-navigation href="*"/>
    <plugin name="cordova-plugin-geolocation" spec="^4.1.0">
        <variable name="GPS_REQUIRED" value="true"/>
    </plugin>
    <plugin name="cordova-plugin-stripe" spec="^1.5.3"/>
    <plugin name="cordova-plugin-contacts-phonenumbers" spec="0.0.12">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value="&#xBF;Quieres darle acceso a tu agenda a SOCIALFLOW para encontrar amigos?"/>
    </plugin>
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.3"/>
    <engine name="browser" spec="^5.0.4"/>
    <engine name="ios" spec="^5.1.1"/>
</widget>
