
.md .nav-bar{
    min-height: 65px !important;
    padding-top: 16px !important;
}
.nav-bar {
    min-height: 65px !important;
    color: white;
    background-color: white;
    .title
    {
        margin-top: auto;
        margin-bottom: auto;        
    }
    
    .boton-carrito
    {
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 0;
        button
        {
            border: none !important;            
        }    
    }
    .buscador
    {
        position: absolute;
        top: 0;
        left:16%;
        z-index: 1000000;
        input
        {
            width: 100%;
            height: 45px;
            margin-top: 8px !important;
            margin-bottom: 0px !important;
            background-color: white;
            color: $gray-dark !important;
            padding-left: 10px !important;
            border-radius: 25px !important;
            border-color: $rojo-rosado !important;
        }
        .opciones
        {
            margin-top: -2px !important;
            border-radius: 5px;
            overflow: hidden;
            background-color: white;
        }
    }
}
.boton-menu{
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
        button
        {
            border: none !important;            
        }
}
.nav-bar-transparent {
    z-index: 100;
    width: 100%;
    min-height: 65px !important;
    color: white;
    .title
    {
        margin-top: auto;
        margin-bottom: auto;        
    }
    .boton-menu
    {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
        button
        {
            height: 56px !important;
            padding: 18px 0;
            border: none !important;            
        }
    }
    .boton-carrito
    {
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 0;
        button
        {
            height: 56px !important;
            padding: 18px 0;
            border: none !important;            
        }        
    }
}

.chat {
    position: absolute;
    left:0;
    top:0;
    z-index: 1000000;
    transform: translate3d(0,0,0);
}